@media (max-width: 480px) {
  .hideme {
    display: none !important;
  }

  .navbar-brand {
    display: inline-block;
  }

  .yellow-bar {
    color: black;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
  }

  .yellow-bar:hover {
    color: black;
    text-decoration: none;
  }

  .sizing {
    font-size: 17px;
  }

  .mside {
    margin-top: 10px;
  }

  .box {
    display: flex;
    flex-direction: column;
  }

  .item {
    display: flex;
  }

  .img-thumbnail {
    width: 150px !important;
  }

  .box2 {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) { 
  .hideme {
    display: block;
  }
  .navbar-brand{
    display: none;
  }
  .sizing {
    font-size: 29px;
  }
  .box {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  .sub {
    color: gray;
    font-size:12px;
  }
  .txt {
    font-size: 15px;
    color: black;
    font-weight: bold;
  }
  .img-thumbnail {
    height: 130px !important;
  }    
}

.first-link {
    font-size: 11px;
    color: gray !important;
    padding-bottom: 1px;
    padding-top: 1px;
}

.first-link:hover {
  color: white !important;
}

.dropdown-item:hover {
  color: white !important;
  background-color: black;
}

.second-link {
  font-size: 13px !important;
  color: gray !important;
}

.second-link:hover {
  font-weight: bold;
  color:black !important;
  text-decoration: none;
}

.yellow-bar {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.yellow-bar:hover {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
}

.phone {
  background: linear-gradient(to bottom, rgba(190, 54, 33, 0.9), rgba(0, 0, 0, 0.8)), url("./images/Opal-796x417.jpg") no-repeat;
  background-size: cover;
  min-height: 14.5rem;
}

.badge {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.8)), url("./images/Untitled-design-2021-01-26T112752.972-796x417.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;	
}

.music {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.8)), url("./images/Gemini2-duplicates-monitor-alert-e1611566958933-796x420.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
}

.box2 {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.orange1 {
  background-color: #fb4221;
  height: 50px;
  width: 100%;
}

.orange {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

i.fas {
  color: white;
  display: inline-block;
  border-radius: 60px;
  box-shadow: 1px 1px 2px #888;
  padding: 0.5em 0.6em;
  background-color: gray;
}

i.fas:hover {
  background-color: black;
}

.gray {
  background-color: #fffAf8;
}

.third {
  background-color: #fff9f8;
}